
<wired-card class="cartao-listagem" elevation="1" elevation="4" >
Query

<wired-input #query type="text" style="width: 70%;" placeholder="abacate banana revolução"></wired-input>
<wired-button (click)="fazerConsulta()">Buscar</wired-button>


<wired-combo selected="todos" #categoria  id="combo" >
    <wired-item value="todos">todos</wired-item>
  <wired-item *ngFor="let item of dropdownCategorias;"  [value]="item" >{{item}}</wired-item>

</wired-combo>





<table class="table " style="font-size: 30px;">
    <thead>
      <tr>
          <th>Nome do documento</th>
        <th>peso</th>


      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of documentosEPesos">


        <td style="font-size: 30px;" scope="row">{{item.arquivo}}</td>
        <td style="font-size: 30px;" scope="row">{{item.similaridade}}</td>
      </tr>

    </tbody>
  </table>


</wired-card>
